[submodule "1_term_Software_engineering/Programming"]
	path = 1_term_Software_engineering/Programming
	url = https://github.com/CandyGoose/Programming_1_term_SE
[submodule "1_term_Software_engineering/Informatic"]
	path = 1_term_Software_engineering/Informatic
	url = https://github.com/CandyGoose/Informatic_SE
[submodule "2_term_Software_engineering/Programming"]
	path = 2_term_Software_engineering/Programming
	url = https://github.com/CandyGoose/Programming_2_term_SE
[submodule "2_term_Software_engineering/Database"]
	path = 2_term_Software_engineering/Database
	url = https://github.com/CandyGoose/Database_SE
[submodule "2_term_Software_engineering/OPD"]
	path = 2_term_Software_engineering/OPD
	url = https://github.com/CandyGoose/OPD_web
[submodule "2_term_Software_engineering/CAD"]
	path = 2_term_Software_engineering/CAD
	url = https://github.com/CandyGoose/CAD_elective
[submodule "3_term_Software_engineering/Programming_languages"]
	path = 3_term_Software_engineering/Programming_languages
	url = https://github.com/CandyGoose/Programming_languages
[submodule "3_term_Software_engineering/Web_programming"]
	path = 3_term_Software_engineering/Web_programming
	url = https://github.com/CandyGoose/Web_programming_SE
[submodule "3_term_Software_engineering/UE4_and_Blueprints"]
	path = 3_term_Software_engineering/UE4_and_Blueprints
	url = https://github.com/CandyGoose/UE4_and_Blueprints_elective
[submodule "3_term_Software_engineering/NLP"]
	path = 3_term_Software_engineering/NLP
	url = https://github.com/CandyGoose/NLP_elective
[submodule "4_term_Software_engineering/Mathematical_statistics"]
	path = 4_term_Software_engineering/Mathematical_statistics
	url = https://github.com/CandyGoose/Mathematical_statistics
[submodule "4_term_Software_engineering/Computer_architecture"]
	path = 4_term_Software_engineering/Computer_architecture
	url = https://github.com/CandyGoose/Computer_architecture
[submodule "4_term_Software_engineering/Optimization_methods"]
	path = 4_term_Software_engineering/Optimization_methods
	url = https://github.com/CandyGoose/Optimization_methods
[submodule "4_term_Software_engineering/Fundamentals_of_SE"]
	path = 4_term_Software_engineering/Fundamentals_of_SE
	url = https://github.com/CandyGoose/Fundamentals_of_SE
[submodule "4_term_Software_engineering/Computational_math"]
	path = 4_term_Software_engineering/Computational_math
	url = https://github.com/CandyGoose/Computational_math
