body {
    font-family: Georgia, serif;
}

blockquote {
    margin: 1.5em 0;
    padding: 0.5em 15px;
    line-height: 1.5;
    background: #f9f9f9;
    border-left: 2px solid #ccc;
}

/* Пример оформления фотографии */
.photocard {
    display: block;
    width: 300px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 0 5px #666;
}