*/ /* убрать эту строку */
body {
    padding: 0 20px;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

h1 {
    color: #618AD2;
    text-shadow: 2px 2px 0 #ccc;
}

pre {
    padding: 10px;
    font-size: 14px;
    line-height: 20px;
    background: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 3px;
}

em {
    color: #618AD2;
}