body {
    font-family: Georgia, serif;
}

p {
    margin: 10px 0;
    padding: 5px 10px; /*  добавить ; */
    color: white;
    border: 1px solid #ccc;
    border-left-width: 10px;
}

.learned-ok {
    text-decoration: line-through; /* linr */
    border-color: #27ae60;
    background-color: #2ecc71;
}

.learning-in-progress {
    border-color: #f39c12;
    background-color: #f1c40f;
}

.not-learned {
    border-color: #c0392b;
    background-color: #e74c3c; /* backround */
}