/* Это правило задаёт общий размер шрифта */
body {
    font-size: 16px;
}

/* Это правило — размер для заголовков первого уровня */
h1 {
    font-size: 20px; /* заменить на 32 */
}

/* А это — тень для заголовков первого уровня */
h1 {
    text-shadow: 2px 2px 0 #ccc;
}